{% unless thumbnail_position %}
  {%- assign thumbnail_position = 'beside' -%}
{% endunless %}

{% unless description_style %}
  {%- assign description_style = 'full' -%}
{% endunless %}

<div id="ProductSection-{{ section_id }}"
  class="product-section product_template"
  data-section-id="{{ section_id }}"
  data-section-type="product-template"
  {% if settings.product_zoom_enable %}
    data-image-zoom="true"
  {% endif %}
  {% if settings.inventory_enable %}
    data-inventory="true"
  {% endif %}
  {% if settings.inventory_transfers_enable %}
    data-incoming-inventory="true"
  {% endif %}
  {% unless isModal %}
    data-enable-history-state="true"
  {% endunless %}>

  {% include 'product-template-variables' %}
  {% if settings.show_breadcrumbs and isModal != true %}
    {% include 'breadcrumbs' %}
  {% endif %}
  <div class="page-content">
    <div class="page-width">

      <div class="grid">
        <div class="grid__item {{ product_image_width }}">
          {% include 'product-images', section_id: section_id, isModal: isModal, thumbnail_position: thumbnail_position, thumbnail_arrows: section.settings.thumbnail_arrows %}
        </div>

        <div class="grid__item {{ product_description_width }}">

          <div class="product-single__meta">
            {% if settings.vendor_enable %}
              <div class="product-single__vendor">
                {{ product.vendor }}
              </div>
            {% endif %}

            {% if isModal %}
              <p class="h2 product-single__title">
                {{ product.title }}
              </p>
            {% else %}
              <h1 class="h2 product-single__title">
                {{ product.title }}
              </h1>
            {% endif %}
            
            {% comment %} <div class="product-short-description">{{ product.description | split: '|' | first }}</div> {% endcomment %}
           
            {% if settings.enable_product_reviews and settings.reviews_layout == 'full' %}
              {% if isModal %}
                {%- assign review_link = product.url | within: collection | append: '#Reviews-' | append: product.id -%}
              {% else %}
                {%- assign review_link = '#Reviews-' | append: product.id -%}
              {% endif %}
              <a href="{{ review_link }}" class="product-single__review-link">
                <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
              </a>
            {% endif %}

            {% if settings.sku_enable %}
              <p id="Sku-{{ section_id }}" class="product-single__sku">
                {% if current_variant.sku %}
                  {{ current_variant.sku }}
                {% endif %}
              </p>
            {% endif %}

            {%- assign hide_sale_price = true -%}
            <div class="product_price">
              {% if product.compare_at_price_max > product.price %}
                {% if current_variant.compare_at_price %}
                  {%- assign hide_sale_price = false -%}
                {% endif %}
                <span
                  id="PriceA11y-{{ section_id }}"
                  class="visually-hidden"
                  aria-hidden="{{ hide_sale_price }}">
                    {{ 'products.general.regular_price' | t }}
                </span>
                <div class="costco_price">
                  <span class="costco_price_title">Costco Price</span> <br>
                  <span id="ProductPrice-{{ section_id }}"
                    class="product__price{% if current_variant.compare_at_price > current_variant.price %} sale-price{% endif %}">
                    {{ current_variant.price | money }}
                  </span>
                </div>
                
                <div class="regular_price">
                  <span class="regular_price_title">Regular Price</span> <br>
                  <span class="product__price-wrap-{{ section_id }}{% if hide_sale_price %} hide{% endif %}">
                    <span id="ComparePrice-{{ section_id }}" class="product__price product__price--compare">
                      {% if current_variant.compare_at_price > current_variant.price %}
                        {{ current_variant.compare_at_price | money }}
                      {% endif %}
                    </span>
                  </span>
                  </div>
                <span id="ComparePriceA11y-{{ section_id }}" class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
              {% else %}
                <span id="PriceA11y-{{ section_id }}" class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
              {% endif %}
              
            </div>

            <div class="product-special-description">{{ product.metafields.global.short_description }}</div>

            <div class="product__unit-price product__unit-price-wrapper--{{ section_id }}{% unless current_variant.unit_price_measurement %} hide{% endunless %}">
              {%- capture unit_price_base_unit -%}
                <span class="product__unit-base--{{ section_id }}">
                  {%- if current_variant.unit_price_measurement -%}
                    {%- if current_variant.unit_price_measurement.reference_value != 1 -%}
                      {{ current_variant.unit_price_measurement.reference_value }}
                    {%- endif -%}
                    {{ current_variant.unit_price_measurement.reference_unit }}
                  {%- endif -%}
                </span>
              {%- endcapture -%}

              <span class="product__unit-price--{{ section_id }}">{{ current_variant.unit_price | money }}</span>/{{ unit_price_base_unit }}
            </div>

            {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
              <div class="product__policies rte">
                <small>
                  {%- if shop.taxes_included -%}
                    {{ 'products.product.include_taxes' | t }}
                  {%- endif -%}
                  {%- if shop.shipping_policy.body != blank -%}
                    {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- endif -%}
                </small>
              </div>
            {%- endif -%}

            {%- if settings.inventory_enable or settings.inventory_transfers_enable -%}
              {%- assign variants_with_inventory_tracking = product.variants | where: 'inventory_management', 'shopify' -%}

              <script>
                // Store inventory quantities in JS because they're no longer
                // available directly in JS when a variant changes.
                // Have an object that holds all potential products so it works
                // with quick view or with multiple featured products.
                window.inventories = window.inventories || {};
                window.inventories['{{section_id}}'] = {};
                 {% for variant in variants_with_inventory_tracking %}
                  window.inventories['{{section_id}}'][{{variant.id}}] = {
                    'quantity': {{ variant.inventory_quantity | default: 0 }},
                    'incoming': {{ variant.incoming | default: false | json }},
                    'next_incoming_date': {{ variant.next_incoming_date | date: format: 'date' | json }}
                  };
                 {% endfor %}
              </script>

              {%- if isModal -%}
                <div
                  data-section-id="{{ section_id }}"
                  class="hide js-product-inventory-data"
                  aria-hidden="true"
                  >
                  {%- for variant in variants_with_inventory_tracking -%}
                    <div
                      class="js-variant-inventory-data"
                      data-id="{{ variant.id }}"
                      data-quantity="{{ variant.inventory_quantity | default: 0 }}"
                      data-incoming="{{ variant.incoming | default: false | json }}"
                      data-date="{{ variant.next_incoming_date | date: format: 'date' | json }}"
                    >
                    </div>
                  {%- endfor -%}
                </div>
              {%- endif -%}

              {%- assign inventory_visible = false -%}
              {% if settings.inventory_enable and current_variant.inventory_management == 'shopify' %}
                {%- if current_variant.inventory_quantity <= settings.inventory_threshold and current_variant.inventory_quantity >= 0 -%}
                  {%- assign inventory_visible = true -%}
                {%- endif -%}
              {% endif %}
              {% if current_variant.inventory_quantity == 0 %}
                {%- assign inventory_visible = false -%}
              {% endif %}
              <div
                id="ProductInventory-{{ section_id }}"
                class="product__inventory {% unless inventory_visible %}hide{% endunless %}"
                >
                {% if current_variant.available %}
                  {{ 'products.product.stock_label' | t: count: current_variant.inventory_quantity }}
                {% endif %}
              </div>

              {%- if settings.inventory_transfers_enable -%}
                <div
                  id="ProductIncomingInventory-{{ section_id }}"
                  class="product__inventory{% if inventory_visible %} hide{% endif %}">
                  {%- if current_variant.incoming and inventory_visible == false -%}
                    {%- if current_variant.next_incoming_date -%}
                      {% assign date = current_variant.next_incoming_date | date: format: 'date' %}
                      {%- if current_variant.available -%}
                        {{ 'products.product.will_not_ship_until' | t: date: date }}
                      {%- else -%}
                        {{ 'products.product.will_be_in_stock_after' | t: date: date }}
                      {%- endif -%}
                    {%- else -%}
                      {{ 'products.product.waiting_for_stock' | t }}
                    {%- endif -%}
                  {%- endif -%}
                </div>
              {%- endif -%}
            {% endif %}

<!--             <hr class="hr--medium"> -->

            {% unless isModal %}
              {% comment %}
                Shopify's product form attaches a number of tracking
                scripts that cause slower load times and false statistics.
                Quick view modals request these on-demand.
              {% endcomment %}
              {% include 'product-form', section_id: section_id %}
              <div class="product-short-description">
              <p class="speical_des">Overview / Features</p>
              {{ product.metafields.global.special_description }}
              </div>
            {% else %}
              <div id="ProductFormHolder-{{ section_id }}" data-url="{{ product.url }}"></div>
            {% endunless %}

            {% unless description_style == 'full' %}
              <div class="product-single__description rte">
                {{ product.description | split: '|' | last }}
              </div>

              {% include 'product-additional-content', section_id: section_id %}
            {% endunless %}

            {% if social %}
              {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-content">
      {% if description_style == 'full' %}
      {% comment %} <h2 class="description-title">Description</h2> {% endcomment %}
        <div class="product-single__description-full rte full_description">
          {{ product.description | split: '|' | last }}
        </div>

        {% include 'product-additional-content', section_id: section_id %}
      {% endif %}
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('ul.shopify-tabs > li').click(function(){
      var tab_id = $(this).attr('data-tab');

      $(this).parent().find('li').removeClass('current');
      $('.shopify-tab-content').removeClass('current');

      $(this).addClass('current');
      $("#"+tab_id).addClass('current');
    })
  })
</script>